@import 'ui-framework/ui';

.container {
    position: relative;
    :global {
        .password-visibility-toggle {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 10px;
        }
    }
}
