@import 'ui-framework/ui';

.container {
    position: absolute;
    top: 0;
    right: 0;
    left: $sidebar-width;
    height: $topbar-height;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.12);
    @include media-breakpoint-down(md) {
        left: 0;
    }
    :global {
        .sidebar-toggle {
            padding: 15px 10px;
        }
    }
}
