@import 'ui-framework/ui';

.dashboard {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    .content {
        position: absolute;
        top: $topbar-height;
        right: 0;
        left: $sidebar-width;
        bottom: 0;
        padding: 1rem;
        background-color: #f9f9f9;
        overflow-y: auto;
        @include media-breakpoint-down(md) {
            left: 0;
        }
    }
}
